<div style="height: 100%; display: flex; align-items: center">
  <mat-card class="container">
    <button mat-raised-button color="primary">Incluir</button>
    <mat-list>
      <mat-list-item>
        <a mat-line>Item 1</a>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a mat-line>Item 2</a>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>
