<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngIf="auth.isLoggedIn">
      <a mat-list-item [matMenuTriggerFor]="menu">Team</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="drawer.toggle()" routerLink="/team">Manage</button>
        <button mat-menu-item (click)="drawer.toggle()">Invite</button>
      </mat-menu>
      <a mat-list-item (click)="drawer.toggle()">Folders</a>
      <a mat-list-item (click)="drawer.toggle()">Scenario</a>
      <a mat-list-item (click)="onLogout(drawer)">Log Out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!auth.isLoggedIn" (click)="drawer.toggle()">
      <a mat-list-item (click)="drawer.toggle()" routerLink="/signup">Sign up</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/signin">Sign in</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BDD System</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
